<h1> <%= @task[:title] %> </h1>
<p> <%= @task[:details] %> </p>
<p>    <% if @task[:completed] == true %>
      <i class="far fa-check-square"></i> This task is completed
    <% else %>
      <i class="far fa-square"></i> This task is not yet completed
    <% end %>
  </p>

<%= link_to destroy_task_path(@task), method: :delete, class: 'text-danger', data: { confirm: 'Are you sure?' } do %>
  <i class="fas fa-trash-alt"></i> Delete
<% end %>

<%= link_to "Edit task", edit_task_path(@task) %>
<hr>
<%= link_to "Back to overview", tasks_path %>
