<!DOCTYPE html>
<html>
  <head>
    <title>RailsTaskManager</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div id="sidebar" class="text-center text-white">

    <img src="https://design.trello.com/img/mascots/logo-graphic-2.png" alt="" id="logo">
    <hr>
    <%= link_to "All tasks", tasks_path, class: "text-white"  %>
    <hr>
    <%= link_to "Add task", new_task_path, class: "text-white" %>
    </div>

    <div id="content">
    <%= yield %>
    </div>

  </body>
</html>
